.content .temp-has-default-palette {
  background: rgba(255,255,255,0.7);
  color: #000;
}

.content [class*="temp-style"] {
  outline-width: 0.5rem;
  outline-style: solid;
  outline-color: transparent;
}

#formatting {
  opacity: 1;
  z-index: 2200;
  transition: opacity 0.3s;
  pointer-events: none;
  margin-left: -1px;
}
#formatting .cke_button {
  pointer-events: all;
}
#formatting[hidden] {
  display: block;
  opacity: 0;
}

#formatting .objects {
  position: absolute;
  top: 4.5rem;
  z-index: 22;
  background: none;
}

#formatting .metas {
  z-index: 22;
  background: none;
  position: absolute;
  top: 0;
}
#formatting .formatting {
  top: 2.25rem;
  position: absolute;
  overflow: hidden;
  height: 36px;
  width: 36px;
  clip: rect(0, 30px, 36px, 0);
}
#formatting:hover  .formatting{
  clip: inherit;
}

#formatting {
  border-radius: 1.125rem;
  background: #fff;
  color: #000;
}

#formatting .cke_button {
  background: #fff;
}

#formatting .cke_button:hover {
  background: #000;
  color: #fff;
}

#formatting .objects.open .cke_button{
  display: block !important;
}
#formatting .objects.open .cke_button__link {
  top: -4.5rem;
  left: 0;
  border-radius: 50%;
}
#formatting .objects.open .cke_button__upload {
  top: 0rem;
  left: 0;
  border-radius: 50%;
}
#formatting .objects .cke_button[hidden]:not(.cke_button__object) {
  display: none;
}
#formatting .objects.open .cke_button {
  display: block;
}
#formatting .objects.open .cke_button__upload input[type=file]{
  visibility: hidden;
  position: absolute;;
}
#formatting .objects.open .cke_button__upload {
  top: -2.25rem;
  left: 0;
  border-radius: 50%;
}
#formatting .cke_button__indent,
#formatting .cke_button__outdent {
  display: none;
}
#formatting svg {
  cursor: pointer;
}


#formatting {
  top: 0;
  left: -50px;
  height: 6.75rem;
  width: 2.25rem;
  position: absolute;
  margin-left: -1.2rem;
  margin-top: -3.40rem;
}

@media (max-width: 700px) {
  #formatting {
    margin-left: -0.25rem;
  }
}
#formatting[hidden], #formatting[hidden] + #formatting-shadow {
  opacity: 0;
}


.circle-menu svg{
  width: 2rem;
  height: 2rem;
  border: 0.2rem solid transparent;
  pointer-events: all;
}

.dragging.toolbar {
  pointer-events: none;
  z-index: 50000 !important; /*science*/
}
html {
  cursor: none;
}
body {
  cursor: default;
}
body.dragging *{
  cursor: none !important;
}
body.dragging .toolbar:not(.dragging) {
  opacity: 0 !important;
}


.circle-menu svg {
  background: #f1f1f1;
  cursor: pointer;
}


.kx.toolbar svg:hover,
.circle-menu svg:hover {
  background: #000;
  color: #f1f1f1;
  z-index: 11;
}

.circle-menu.starred .star{
  display: none;
}
.circle-menu:not(.starred) .unstar{
  display: none;
}
.circle-menu svg.unstar:hover,
.circle-menu svg.star:hover {
  z-index: 1;
  border: 0.2rem solid transparent;
  margin: 0rem;
}

.circle-menu svg.unstar,
.circle-menu svg.star{
  border: 0.5rem solid transparent;
  margin: -0.3rem;
}
.circle-menu svg.right {
  top: -0.45rem;
  left: 2rem;
}
.circle-menu svg.left {
  top: -0.45rem;
  left: -2rem;
}
.circle-menu svg.top {
  top: -2.1rem;
}
.circle-menu svg.bottom-right {
  top: 1.65rem;
  left: 1.15rem;
}
.circle-menu svg.bottom-left {
  top: 1.65rem;
  left: -1.15rem;
}

.circle-menu {
  position: absolute;;
  top: 0;
  left: 0;
  visibility: visible;;
  display: block;
  z-index: 10;
}

.circle-menu.large .enlarge {
  opacity: 0.3;
}
.circle-menu.small .shrink {
  opacity: 0.3;
}
@media (max-width: 500px) {
  .circle-menu .enlarge {
    display: none;
  }
  .circle-menu .shrink {
    display: none;
  }
}

.circle-menu[hidden] {
  visibility: hidden;
  display: none;
}

.circle-menu > svg {
  fill: currentColor;
  position: absolute;
  border-radius: 50%;
}


section  svg,
header  svg {
  fill: currentColor;
}

svg:hover {
  cursor: pointer;
}
.kx.toolbar {
  z-index: 2;
  position: absolute;
  position: absolute;
  top: -0.55rem;
  left: 50%;
  margin-left: -1.2rem;
  height: 2.3rem;
  width: 2.3rem;
  border-radius: 50%;
  transition: opacity 0.3s;
}
#sectionizer:not([hidden]) ~ #saver svg {
  display: none;
}

/*
.content section.starred > .toolbar svg{
  box-shadow: 0px 0px 0px 1px currentColor;
}*/


[contenteditable="true"] > section > .kx.toolbar svg {
  cursor: move;
}
.kx.toolbar svg {
  border-radius: 50%;
  height: 2.3rem;
  width: 2.3rem;
  border: 0.2rem solid transparent;
}

.kx.toolbar svg[icon="#resize-section-icon"] {
  cursor: row-resize;
}









div.picker {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2000000;
  width: 100vw;
  height: 100vh;
  max-width: 60.3rem;
  max-height: 60.3rem;
  margin: auto;
}
div.picker > .content {
  background-color: inherit;
}
div.picker > div {
  width: calc(33.3%);
  height: calc(33.3%);
  box-sizing: content-box;
  max-width: 20rem;
  max-height: 20rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
div.picker > div:hover {
  outline: 1rem solid #fff;
  z-index: 10;
}
div.picker > div > .clone {
  width: 25rem;
  min-height: 100%;
}