div.picker {
  position: absolute;
  z-index: 22;
  white-space: nowrap;
  top: -2.35rem;
}

#formatting div.picker svg {
  margin: -1px;
  height: 38px;
  width: 38px;
}
/*body:not(.dragging) #formatting * {
  transition: fill 0.3s, background-color 0.3s;
}*/


.matrix .picker li {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
}

.matrix .picker li:nth-child(1) {
  margin-left: -5.9rem;
  margin-top: -5.9rem;
}
.matrix .picker li:nth-child(2) {
  margin-left: 2.65rem;
  margin-top: -5.9rem;
}
.matrix .picker li:nth-child(3) {
  margin-left: -5.9rem;
  margin-top: 2.65rem;
}
.matrix .picker li:nth-child(4) {
  margin-left: 2.65rem;
  margin-top: 2.65rem;
}

ul.picker li{
  display: inline-block;
  margin: -1px 0 0 0;
  text-align: center;
  border-radius: 50%;
  padding: 0.15rem;
  cursor: pointer;
}
ul.picker li {
  margin-right: -0.5rem;
}
ul.picker li:first-of-type {
  margin-right: -0.75rem;
}

body.dragging .picker {
  pointer-events: none;
}
body.dragging .picker li {
  pointer-events: all;
}


#formatting {
  opacity: 1;
  z-index: 2200;
  transition: opacity 0.3s;
  pointer-events: none;
}
#formatting .cke_button {
  pointer-events: all;
}
#formatting[hidden] {
  display: block;
  opacity: 0;
}

#formatting .objects {
  position: absolute;
  top: 4.5rem;
  z-index: 22;
  background: none;
}

#formatting .metas {
  z-index: 22;
  background: none;
  position: absolute;
  top: 0;
}
#formatting .formatting {
  top: 2.25rem;
  position: absolute;
  overflow: hidden;
  height: 36px;
  width: 36px;
  clip: rect(0, 30px, 36px, 0);
}
#formatting:hover  .formatting{
  clip: inherit;
}

#formatting {
  border-radius: 1.125rem;
  background: #fafafa;
  color: #000;
}

#formatting .objects.open .cke_button{
  display: block !important;
}
#formatting .objects.open .cke_button__link {
  top: -4.5rem;
  left: 0;
  border-radius: 50%;
}
#formatting .objects.open .cke_button__upload {
  top: 0rem;
  left: 0;
  border-radius: 50%;
}
#formatting .objects .cke_button:not(.cke_button__object) {
  display: none;
}
#formatting .objects.open .cke_button {
  display: block;
}
#formatting .objects.open .cke_button__upload input[type=file]{
  visibility: hidden;
  position: absolute;;
}
#formatting .objects.open .cke_button__upload {
  top: -2.25rem;
  left: 0;
  border-radius: 50%;
}

#formatting svg {
  cursor: pointer;
}
#formatting svg path {
  fill: currentColor;
}
.matrix .wrapper:hover {
  box-shadow: 0 0 20px #ccc;
}

ul.picker[hidden] {
  display: block;
  opacity: 0;
}


section:hover {
  outline: 1px solid #ccc;
}

.content.picking {
  filter: url('#blur');
  filter: blur(5px)  grayscale(60%);
}

.matrix {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 30.8rem;
  height: 30.8rem;
  overflow: hidden;
  z-index: 222;
  margin-top: -12rem;
  margin-left: -12rem;
}

.content section > .toolbar {
  position: absolute;
  top: -1.44rem;
  left: 0;
  width: 100%;
  height: 2rem;
  cursor: row-resize;
  z-index: 2000;
  width: 100%;
}

section .toolbar .handle {
  width: 3rem;
  height: 3rem;
  display: block;
  margin: 0 auto;
}

.content section x-toolbar {
  text-align: center;
  display: block;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  width: 7.2rem;
  margin-left: -3.6rem;
}
.content section x-toolbar:hover {
  overflow: visible;;
}

x-toolbar x-panel.top {
  visibility: hidden;
}
x-toolbar x-panel.middle,
x-toolbar x-panel.top {
  width: 2.4rem;
  margin: 0 auto;
}
x-toolbar:hover x-panel.top {
  visibility: visible;
}
x-toolbar:hover x-panel.middle {
  width: auto;
}
.content section x-toolbar x-panel.bottom {
  display: none;
}
.content section x-toolbar:hover x-panel.bottom {
  display: block;
  height: auto;
  border-radius: 50%;
}

.content section x-panel {
  display: block;
  height: 1.85rem;
}
.content section x-panel svg:hover {
  overflow: visible;
  position: relative;;
  z-index: 200;
}
.content x-panel.top {
  width: 4.5rem;
  margin: -2.4rem auto 0;
}
.content .toolbar .pick {
  position: relative;
  top: -0.34rem;
}

.content .toolbar .bottom svg + svg {
  margin-left: -0.07rem;
}


.content .toolbar .settings{
  margin-left: -0.45rem;
}
.content .toolbar .palette  {
  margin-right: -0.45rem;
}

.toolbar  x-toolbar:not(:hover) x-panel{
  overflow: hidden;
}
section .toolbar svg {
  display: inline-block;
  height: 2.4rem;
  width: 2.4rem;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 50%;
  border: 0.2rem solid transparent;
}
section .toolbar .enlarge {
  background: inherit
}
.toolbar svg.handler {
  background-color: inherit;
}

section .toolbar svg {
  display: none;
}
section .toolbar svg.resize {
  display: inline-block;
}
section .toolbar x-toolbar:hover svg {
  display: inline-block;
}
section .toolbar svg.palette {
  z-index: 20;
}
section .toolbar svg{
  fill: currentColor;
}
section .toolbar svg.split {
  display: none;
}

section .toolbar x-toolbar:hover svg.split {
  display: inline-block;
}
section .toolbar x-toolbar:hover svg.resize {
  display: none;
}



.toolbar svg {
  cursor: pointer;
}


.matrix .wrapper {
  overflow: hidden;
  border-radius: 20%;
  width: 10rem;
  height: 10rem;
  padding: 1.5rem;
  border: 1px solid #666;
  background: #fff;
  background-clip: padding-box;
  transition:  0.5s 0.2s  opacity;
  opacity: 1;
}

.matrix .wrapper > * {
  float: none !important;
}
.matrix tr:nth-child(1) td:nth-child(1) .wrapper{
  transition:  0.5s 0.1s  opacity;
}
.matrix tr:nth-child(1) td:nth-child(2) .wrapper{
  transition:  0.5s 0.125s  opacity;
}
.matrix tr:nth-child(1) td:nth-child(3) .wrapper{
  transition:  0.5s 0.15s  opacity;
}
.matrix tr:nth-child(2) td:nth-child(1) .wrapper{
  transition:  0.5s 0.175s  opacity;
}
.matrix tr:nth-child(2) td:nth-child(2) .wrapper{
  transition:  0.5s 0.2s  opacity;
}
.matrix tr:nth-child(2) td:nth-child(3) .wrapper{
  transition:  0.5s 0.225s  opacity;
}
.matrix tr:nth-child(3) td:nth-child(1) .wrapper{
  transition:  0.5s 0.25s  opacity;
}
.matrix tr:nth-child(3) td:nth-child(2) .wrapper{
  transition:  0.5s 0.275s  opacity;
}
.matrix tr:nth-child(3) td:nth-child(3) .wrapper{
  transition:  0.5s 0.3s  opacity;
}

.matrix .selected .wrapper{
  border-radius: 35%;
}
.content.matrix tr td.selected .wrapper {
  border: 1px solid transparent;
  box-shadow: none;
  opacity: 1;
  transition:  0.4s  opacity;
}

.matrix[hidden] .wrapper {
  opacity: 0;
}
.matrix[hidden] .selected .wrapper {
  opacity: 0.5;
}

.matrix[hidden] {
  display: block;
  visibility: hidden;
}


.wrapper > section {
  margin: 0;
}

#formatting {
  top: 0;
  left: 0;
  height: 6.75rem;
  width: 2.25rem;
  position: absolute;
  margin-left: -1.25rem;
  margin-top: -3.40rem;
}
#formatting-shadow {
  top: 0;
  left: 0;
  height: 6.75rem;
  width: 2.25rem;
  box-sizing: content-box;
  position: absolute;
  margin-left: -1.3rem;
  margin-top: -3.46rem;
  border: 1px solid #aaa;
  z-index: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  border-radius: 1.2rem;
  overflow: hidden;
}
#formatting[hidden], #formatting[hidden] + #formatting-shadow {
  opacity: 0;
}
