@charset "UTF-8";


body,html {
  padding: 0;
  margin: 0 auto;
}


.content {
  padding: 4rem 0 2rem 0;
  box-sizing: border-box;
  transition: filter 0.6s;
}

.content [unselectable="on"] {
  -webkit-user-select: none; 
   -moz-user-select: none; 
    -ms-user-select: none; 
        user-select: none;

}
/*
.content.moving {
  transition: height 0.3s, filter 0.6s;
}*/


.content picture {
  overflow: hidden;
  display: block;
  max-width: 100%;
  position: relative;
  vertical-align: top;
  margin: 0 auto;
}

.content picture.avatar {
  //display: inline-block;
  outline: 1px dashed red;
}

.content a.picture {
  display: block;
}

.content picture img {
  max-width: 100%;
  margin: 0 auto;
  height: auto !important;
}
.content section[pattern*="two-"] picture img{
  max-width: 400%;
}

.content picture.added.loading {
  height: 2rem;
  width: 2rem;
  background:orange;
}

.content picture.added.loading img {
  visibility: hidden;
}

.content ul, .content ol, .content blockquote {
  padding-left: 2rem;
}

.content picture {
  width: 100%;
}

.content > a {
  max-width: 100%;
  display: block;
}

.content section[pattern*="two-"] picture:not(.loading) {
  /*padding-top: 100%;
}
.content section[pattern*="two-"] picture img{
  position: absolute;
  top: 0;
  left: 0;
  transition: top 0.3s, left 0.3s;*/
}

.meta picture {
  width: 4rem;
  height: 4rem;
}

#image-cropper {
  position: absolute;
  background: rgba(0,50,0,0.5);
}

section {
  padding: 3rem 0;
  position: relative;
}

section picture img{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.toolbar:hover {
  opacity: 1;
  transition: none;
}

section picture img {
  display: block;
}

section .toolbar {

}

section.forced:before {
  border-color: #aaa;
}
section > .kx.foreground {
  border-color: #aaa;
  background: #fff;
}
article section {
  background: #f1f1f1;
}

section > .kx.toolbar {
  background: #f1f1f1;
}

.content * {
  top: 0;
  left: 0;
}
.content h1 {
  font-size: 2em;
  margin: 0 auto;
}
.content h2 {
  font-size: 1.5em;
  margin: 0 auto;
}
.content h3 {
  font-size: 1.25em;
  margin: 0 auto;
}
.content p {
  margin-top: 0;
  padding: 0;
  margin-bottom: 0;
}
.content * + p {
  margin-top: 0.8rem;
}

.content * + h1, .content * + h2, .content * + h3, .content * + blockquote, .content * + picture, .content * + a {
  margin-top: 0.8rem;
}

.content .kx + * {
  margin-top: 0;
}
article h1 + * {
  margin-top: 0.8rem;
}
.content h2 + * {
  margin-top: 0.8rem;
}
.content h3 + * {
  margin-top: 0.8rem;
}
.content img + * {
  margin-top: 0.8rem;
}
.content picture + * {
  margin-top: 0.8rem;
}
.content blockquote + * {
  margin-top: 0.8rem;
}
section > a {
  display: block;
}
section > a + * {
  margin-top: 0.8rem;
}

.content .moved {
  opacity: 0.5;
}
#dragzone {
  position: absolute;
  border-top: 5px dashed rgba(20,20,70,0.5);
  cursor: pointer;
  top: -50px;
  pointer-events: none;
}
section.focused > .kx.foreground, section.focused:hover > .kx.foreground {
  border: 1px solid #aaa;
}
section:hover > .kx.foreground {
  border: 1px solid #ccc;
}

section.clone {
  pointer-events: none;
}

.content picture {
  cursor: pointer;
}
.content img {
  width: 100%;
  height: auto;
}

.content {
  position: relative;
}

.content * {
  box-sizing: border-box;
  transition: color .3s, background-color .3s; 
  -webkit-transition: color .3s , background-color .3s
}

.content .toolbar * {
  transition: none; 
  -webkit-transition: none;
}

.content section {
  transition: opacity .3s 
  -webkit-transition: opacity .3s 
}



.content {
  outline: none;
  zoverflow: hidden;
}


.content .unobserved {
  visibility: hidden;

}
/*
.content section.new {
  opacity: 0.1;
}*/

.content img[crop-x]:hover {
  width: attr(crop-x px) !important;
}


blockquote:before {
  content: '“';
  position: absolute;
  font-size: 3em;
  margin-left: -0.45em;
  width: 0.5em;
  line-height: 0.6em;
}
blockquote {
  margin: 0 0 0 1.5rem;
  padding: 0;
}
section:first-child:not([pattern*=two]) {
  margin-top: 0;
}

section[pattern="one-quote"] {
  font-size: 1.5em;
}

section[pattern="one-quote"] > *:not(.toolbar) {
  width: 500px;
}


.content section > .kx.foreground {
  content: '';
  pointer-events: none;
  z-index: -1;
  position: absolute;
  width: 100vw;
  border: 1px solid transparent;
  margin-top: -1px;
  margin-left: -1px;

  top: 2rem;
  height: calc(100% - 4rem);
  max-width: calc(800px + 2rem);
  left: calc(50% - 400px - 1rem);
  z-index: 1;
}


section.large.has-long-text {
  display: block;
  columns: 2 calc(400px - 2rem);
  -moz-columns: 2 calc(400px - 2rem);
  -webkit-columns: 2 calc(400px - 2rem);
  column-gap: 4rem;
  -moz-column-gap: 4rem;
  -webkit-column-gap: 4rem;

  padding-left: calc(50vw - 400px);
  padding-right: calc(50vw - 400px);
}
section.large.has-long-text > *:not(.kx) {
  -webkit-column-break-inside: avoid; /* Chrome, Safari */
  page-break-inside: avoid;           /* Theoretically FF 20+ */
  break-inside: avoid-column;         /* IE 11 */
  width: 100%;
  margin: 0;
  padding: 0 0 0.8rem 0;
}
section.large.has-long-text > h1,
section.large.has-long-text > h2,
section.large.has-long-text > h3 {
  column-span: all;
  -webkit-column-span: all;
}
@media(max-width: 800px) {
  .content section > .kx.foreground {
    left: 0;
    right: 0;
    max-width: 100%;
  }
}

@media (min-width: 800px) {
  .content section.small > .kx.foreground {
    width: 400px;
    left: calc(50% - 200px);
  }

  .content section[pattern*="two-"][index="0"] {
    padding-right: 2rem;
  }
  .content section[pattern*="two-"][index="0"] > .kx.toolbar {
    right: 200px;
    left: auto;
  }
  .content section[pattern*="two-"][index="1"] {
    padding-left: 2rem;
  }
  .content section[pattern*="two-"][index="1"] > .kx.toolbar {
    left: 200px;
  }
  .content section[pattern*="two-"][index="0"] > .kx.foreground {
    left: calc(100% - 400px - 1rem);
  }
  .content section[pattern*="two-"][index="1"] > .kx.foreground {
    left: 1rem;
  }
  .content section[pattern*="two-"] picture {
    height: calc(400px - 2rem);
  }
}
.content section > * {
  position: relative;
  z-index: 3;
}

body.dragging article section:not(.above-the-fold):not(.below-the-fold) {
  z-index: 10;
}

.content .was-moving {
  will-change: transform;
  transform: translateZ(0);
}



article > section > *:not(a):not(picture) {
  max-width: calc(100vw - 3rem);
  width: 800px;
}
article > section > * {
  margin-left: auto;
  margin-right: auto;
}

article.content > section.small > *:not(.toolbar) {
  width: calc(400px - 2rem);
}

article > section:not(.large):not(.small) > picture,
article > section:not(.large):not(.small) > a {
  width: 800px;
  max-width: 100%;
}

@media (max-width: 830px) {
  article > section > *:not(.kx):not(a):not(picture) {
    margin-left: 2rem;
  }

  article > section:not(.large):not(.small) > picture,
  article > section:not(.large):not(.small) > a {
    width: 100%;
  }
}