div.picker {
  position: absolute;
  z-index: 22;
  white-space: nowrap;
  top: -2.25rem;
}

#formatting div.picker svg {
  margin: -1px;
  height: 38px;
  width: 38px;
  opacity: 0.6;
}
/*body:not(.dragging) #formatting * {
  transition: fill 0.3s, background-color 0.3s;
}*/


.matrix .picker li {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
}

.matrix .picker li:nth-child(1) {
  margin-left: -5.9rem;
  margin-top: -5.9rem;
}
.matrix .picker li:nth-child(2) {
  margin-left: 2.65rem;
  margin-top: -5.9rem;
}
.matrix .picker li:nth-child(3) {
  margin-left: -5.9rem;
  margin-top: 2.65rem;
}
.matrix .picker li:nth-child(4) {
  margin-left: 2.65rem;
  margin-top: 2.65rem;
}

ul.picker li{
  display: inline-block;
  margin: -1px 0 0 0;
  text-align: center;
  border-radius: 50%;
  padding: 0.15rem;
  cursor: pointer;
}
ul.picker li {
  margin-right: -0.5rem;
}
ul.picker li:first-of-type {
  margin-right: -0.75rem;
}

body.dragging .picker {
  pointer-events: none;
}
body.dragging .picker li {
  pointer-events: all;
}


#formatting {
  opacity: 1;
  z-index: 2200;
  transition: opacity 0.3s;
}
#formatting .cke_button {
  position: absolute;
  background: #fff;
}
#formatting[hidden] {
  display: block;
  opacity: 0;
}

#formatting .add {
  position: absolute;
  top: 2.25rem;
  z-index: 22;
  background: none;
}

#formatting .add svg {
  opacity: 0.6;
}
#formatting .more {
  position: absolute;
  top: -2.25rem;
  z-index: 22;
  background: none;
}

#formatting .more {
  position: absolute;
  top: -2.25rem;
  z-index: 22;
  background: none;
}
#formatting .more svg {
  opacity: 0.6;

}
#formatting .cke_button__link {
  position: absolute;
  top: 2.25rem;
  background: none;
}
#formatting .cke_button__link.actual {
  z-index: 2000;
}
#formatting .cke_button__link svg {
  opacity: 0.6;
}
#formatting .cke_button__link svg path {
  fill: currentColor;
}

#formatting svg {
  cursor: pointer;
}
#formatting svg path {
  fill: currentColor;
  transition: fill 0.4s;
}
.matrix .wrapper:hover {
  box-shadow: 0 0 20px #ccc;
}

ul.picker[hidden] {
  display: block;
  opacity: 0;
}


section:hover {
  outline: 1px solid #ccc;
}

.content.picking {
  filter: url('#blur');
  filter: blur(5px)  grayscale(60%);
}

.matrix {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 30.8rem;
  height: 30.8rem;
  overflow: hidden;
  z-index: 222;
  margin-top: -12rem;
  margin-left: -12rem;
}


.matrix .wrapper {
  overflow: hidden;
  border-radius: 20%;
  width: 10rem;
  height: 10rem;
  padding: 1.5rem;
  border: 1px solid #666;
  background: #fff;
  background-clip: padding-box;
  transition:  0.5s 0.2s  opacity;
  opacity: 1;
}

.matrix .wrapper > * {
  float: none !important;
}
.matrix tr:nth-child(1) td:nth-child(1) .wrapper{
  transition:  0.5s 0.1s  opacity;
}
.matrix tr:nth-child(1) td:nth-child(2) .wrapper{
  transition:  0.5s 0.125s  opacity;
}
.matrix tr:nth-child(1) td:nth-child(3) .wrapper{
  transition:  0.5s 0.15s  opacity;
}
.matrix tr:nth-child(2) td:nth-child(1) .wrapper{
  transition:  0.5s 0.175s  opacity;
}
.matrix tr:nth-child(2) td:nth-child(2) .wrapper{
  transition:  0.5s 0.2s  opacity;
}
.matrix tr:nth-child(2) td:nth-child(3) .wrapper{
  transition:  0.5s 0.225s  opacity;
}
.matrix tr:nth-child(3) td:nth-child(1) .wrapper{
  transition:  0.5s 0.25s  opacity;
}
.matrix tr:nth-child(3) td:nth-child(2) .wrapper{
  transition:  0.5s 0.275s  opacity;
}
.matrix tr:nth-child(3) td:nth-child(3) .wrapper{
  transition:  0.5s 0.3s  opacity;
}

.matrix .selected .wrapper{
  border-radius: 35%;
}
.content.matrix tr td.selected .wrapper {
  border: 1px solid transparent;
  box-shadow: none;
  opacity: 1;
  transition:  0.4s  opacity;
}

.matrix[hidden] .wrapper {
  opacity: 0;
}
.matrix[hidden] .selected .wrapper {
  opacity: 0.5;
}

.matrix[hidden] {
  display: block;
  visibility: hidden;
}


.wrapper > section {
  margin: 0;
}

#formatting {
  top: 0;
  left: 0;
  position: absolute;
  margin-left: -1.25rem;
  margin-top: -1.15rem;
}
#formatting[hidden] {
  opacity: 0;
}

@media (max-width: 640px) {
  #formatting {
    margin-left: -1.25rem;
  }
}

